body {
  background-color: #393e46;
  text-align: center;
}

.container {
  margin: auto;
  width: 70%;
}

h1 {
  color: #4ecca3;
  font-family: "Lobster", cursive;
  font-size: 7rem;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

.dice {
  display: inline-block;
}

p {
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

img {
  width: 80%;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-top: 1rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

footer {
  color: #eeeeee;
  font-family: "Indie Flower", cursive;
  margin-top: 5%;
}
